<p class="my-breadcrumb mt-2 fs-6">
    <a [routerLink]="['/']" class="text-blue text-decoration-none ">Home</a>
    <span> > </span>
    <a [routerLink]="['/dashboard']" class="text-blue text-decoration-none ">Dashboard</a>
</p>

<div class="d-flex py-4 flex-column w-100 justify-content-center">
    <mat-spinner *ngIf="!postHasLoaded else postsT" [diameter]="38"></mat-spinner>
    <ng-template #postsT>
        <ng-container *ngIf="posts.length > 0 else noPostsT">
            <app-post-card
                    (emitDeletion)="deletePost($event)"
                    *ngFor="let post of posts"
                    [post]="post"
                    [fromFeed]="false"
                    [isUserPost]="post.userId === user?.id"
                    [showEdit]="post.userId === user?.id">
            </app-post-card>
        </ng-container>

        <ng-template #noPostsT>
            <p style="font-size: 1rem">You have not written any posts yet !<br><br>
                You can create your first post by clicking on <a [routerLink]="['/post/create']" [queryParams]="{from: 'dashboard'}">this link </a>.</p>
        </ng-template>
    </ng-template>
</div>
