<p class="my-breadcrumb mt-2 fs-6">
    <a href="/" class="text-blue text-decoration-none ">Home</a>
    <span *ngIf="from"> > </span>
    <a *ngIf="from" [routerLink]="['/' + from]" class="text-blue text-decoration-none ">{{(from) | titlecase}}</a>
    <span> > </span>
    <ng-container [ngSwitch]="mode">
        <a *ngSwitchCase="'view'"  class="text-blue text-decoration-none ">Post view</a>
        <a *ngSwitchCase="'edit'"  class="text-blue text-decoration-none ">Post edition</a>
        <a *ngSwitchCase="'create'" class="text-blue text-decoration-none ">Post creation</a>
    </ng-container>
</p>

<div class="d-flex py-5 flex-column w-100 justify-content-center">
    <mat-spinner *ngIf="isLoading else postT" [diameter]="38"></mat-spinner>
    <ng-template #postT>
        <app-post-card
                (emitCreation)="createPost($event)"
                (emitEdition)="editPost($event)"
                (emitDeletion)="deletePost($event)"
                [fromFeed]="from === 'feed'"
                [mode]="mode"
                [post]="post"
                [isUserPost]="isUserPost"
                [showEdit]="showEdit">
        </app-post-card>
    </ng-template>
</div>
