<p class="my-breadcrumb mt-2 fs-6">
    <a href="/" class="text-blue text-decoration-none ">Home</a>
    <span> > </span>
    <a [routerLink]="['/' + from ? 'dashboard' : 'feed']" class="text-blue text-decoration-none ">{{(from ? 'dashboard' : 'feed') | titlecase}}</a>
    <span> > </span>
    <ng-container [ngSwitch]="mode">
        <a *ngSwitchCase="'view'"  class="text-blue text-decoration-none ">Post view</a>
        <a *ngSwitchCase="'edit'"  class="text-blue text-decoration-none ">Post edition</a>
        <a *ngSwitchCase="'create'" class="text-blue text-decoration-none ">Post creation</a>
    </ng-container>
</p>

<div class="d-flex py-5 flex-column w-100 justify-content-center">
    <app-post-card
            (emitCreation)="createPost($event)"
            (emitEdition)="editPost($event)"
            [fromFeed]="from === 'feed'"
            [mode]="mode"
            [isUserPost]="isUserPost"
            [showEdit]="showEdit"
            [title]="title"
            [body]="body"
            [imageUrl]="'https://cdn.motor1.com/images/mgl/RGlZA/s3/tata-punch-il-mini-suv-low-cost-per-l-india.webp'">
    </app-post-card>
</div>
