<div *ngIf="isEdition || isCreate else justView" [formGroup]="createOrEditPostForm" id="post-y" class="post-card p-4 shadow">
    <div class="d-flex justify-content-between ">
        <div class="w-100">
            <mat-form-field class="example-full-width w-100" appearance="legacy">
                <input formControlName="title" matInput placeholder="Post title">
            </mat-form-field>
            <app-form-field-error   [isLegacy]="true"
                                    [form]="createOrEditPostForm"
                                    [formControlNameString]="'title'"
                                    [isSubmit]="isSubmit"
                                    [displayField]="'Title'"></app-form-field-error>
        </div>

        <div class="d-flex align-items-center actions-ctn">
            <mat-icon (click)="openLinkCopiedSnackBar($event)" matRipple class="blue-icon me-3 rounded" aria-hidden="false" aria-label="Share">share</mat-icon>
            <ng-container *ngIf="isUserPost">
                <mat-icon *ngIf="showEdit else saveModification"  (click)="navToPostEdition()" matRipple class="blue-icon ms-4 me-2 rounded" aria-hidden="false" aria-label="Edit">edit</mat-icon>
                <ng-template #saveModification>
                    <mat-icon (click)="openSaveModifSnackBar($event)" matRipple class="blue-icon ms-4 me-2 rounded" aria-hidden="false" aria-label="Share">save</mat-icon>
                </ng-template>
                <mat-icon (click)="openDeleteSnackbar($event,'post-y')" matRipple class="red-icon rounded" aria-hidden="false" aria-label="Close">delete</mat-icon>
            </ng-container>
        </div>
    </div>
    <div class="d-flex w-100">
        <mat-form-field class="example-full-width w-100" appearance="legacy">
            <textarea rows="4" formControlName="content" matInput placeholder="Post content"></textarea>
        </mat-form-field>
    </div>
    <app-form-field-error   [isLegacy]="true"
                            [form]="createOrEditPostForm"
                            [formControlNameString]="'content'"
                            [isSubmit]="isSubmit"
                            [displayField]="'Content'"></app-form-field-error>
    <label class="p-0 mb-3 image-upload-container btn btn-bwm">
        <label for="file-select" class="btn btn-primary">{{imageUrl ? 'Change image' : 'Select image' }}</label>
        <input #imageInput
               class="d-none"
               id="file-select"
               type="file"
               accept="image/*"
               (change)="processFile(imageInput)">
    </label>

    <div *ngIf="imageUrl" class="d-flex align-items-center justify-content-center">
        <img class="post-image" [src]="imageUrl" alt="post image">
    </div>
</div>

<ng-template #justView>
    <div id="post-x" class="post-card p-4 shadow">
        <div class="d-flex justify-content-between ">
            <h4 class="post-title">{{ title }}</h4>
            <div class="d-flex align-items-center actions-ctn">
                <mat-icon (click)="openLinkCopiedSnackBar($event)" matRipple class="blue-icon me-3 rounded" aria-hidden="false" aria-label="Share">share</mat-icon>
                <ng-container *ngIf="isUserPost">
                    <mat-icon *ngIf="showEdit else saveModification"  (click)="navToPostEdition()" matRipple class="blue-icon ms-4 me-2 rounded" aria-hidden="false" aria-label="Edit">edit</mat-icon>
                    <ng-template #saveModification>
                        <mat-icon (click)="openSaveModifSnackBar($event)" matRipple class="blue-icon ms-4 me-2 rounded" aria-hidden="false" aria-label="Share">save</mat-icon>
                    </ng-template>
                    <mat-icon (click)="openDeleteSnackbar($event, 'post-x')" matRipple class="red-icon rounded" aria-hidden="false" aria-label="Close">delete</mat-icon>
                </ng-container>
            </div>
        </div>
        <p style="font-size: 10px;margin-top: -12px">Written by Paul Surrans</p>
        <p [ngClass]="imageUrl ? 'mb-2' : 'mb-0'" class="post-content">{{ content }}</p>
        <div *ngIf="imageUrl" class="d-flex align-items-center justify-content-center">
            <img class="post-image" [src]="imageUrl" alt="post image">
        </div>
    </div>
</ng-template>


