:host {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5rem;

  .post-title {
    margin-bottom: 0.5rem;
  }

  .post-image {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }
}

mat-icon {
  cursor: pointer;
}

mat-icon.red-icon {
  font-size: 1.75rem;
  line-height: 1.75rem;
  height: 1.75rem;
  width: 1.75rem;
}

.comments {
  border-top: 1px solid black;
  padding: 1rem 0;
  overflow: auto;

  .comment {
    margin-bottom: 0.75rem;

    p {
      font-size: 0.75rem;
      margin-bottom: 8px;
    }

    p:first-child {
      font-size: 0.875rem;
      font-weight: 700;
      margin-bottom: -2px;
    }
  }
}
