@import "themes";

body {
  background: #f8f9fa;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.btn-outline-primary-white {
  color: white !important;
  border-color: white !important;
}

.text-blue {
  color: var(--bs-blue);
}

.form-large-ctn {
  height: 80vh;
}

.error-text {
  transition: opacity 0.3s ease;
  font-size: 0.75rem;
  color: var(--bs-danger);
  margin: 0;
  padding-left: 0.5rem;
  font-weight: 600;
  white-space: pre-wrap;
}

.error-text.legacy {
  padding-left: 0;
}


.blue-icon {
  color: var(--bs-blue);
}

.blue-icon svg {
  fill: var(--bs-blue);
}

.gray-icon {
  color: var(--bs-gray-400);
}

.gray-icon svg {
  fill: var(--bs-gray-400);
}

.red-icon {
  color: var(--bs-danger);
}

.red-icon svg {
  fill: var(--bs-danger);
}

.success-snackbar {
  background: var(--bs-success);
  color: white;
}

.danger-snackbar {
  background: var(--bs-danger);
  color: white;
}

.mat-button-wrapper {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

textarea {
  resize: none !important;
}

form {
  max-width: 500px;
}
